/*
You can add your own CSS here.

Click the help icon above to learn more.
*/


div.top-margin{
  padding-top:78px;
}

/*Ocultamos secciones del menu
 @media screen and (orientation:portrait) {
	.page-wrapper, .page-wrapper img{
		width:100%;
	}
}
*/
p.manga-title{
	margin-top: 20px;
}


.page-item-300{
	display:none;
}

.cover-wrap{
	display: flex;
	flex-wrap: wrap;

}

.cover{
	position: relative;
	text-align: center;
	margin: 8px;
  max-width: 160px;
}
.cover a img {
	border: 1px solid black;
	max-height: 200px;
}

.catalogoPortadas tr td {
	display: block;
}

.cover a img:hover {
	transform: scale(1.2);
}

.cover a img:active {
	transform: scale(1.2);
}

.center-content-wrapper{
  text-align:center;
}

.page-wrapper{


    position: relative;
    display: inline-block;
}

.page-wrapper img{
  height: 100vh;

}

.previous-page, .next-page{
    position: absolute;
    opacity: 0
    top: 0%;
    width: 50%;
    height: 100%;

}

.previous-page{
    left: 0%;
    /*background-color: #23527c;*/

}

.next-page{
    left: 50%;
    /*background-color: #23527c;*/
}

.faded{
    -webkit-animation: fadeout 0.25s linear 1 normal forwards;
}

@-webkit-keyframes fadeout{
    from{
      opacity: 0.5;
    }
    to{
      opacity: 0.0;
    }
}



.button-pages{
  height: 50px
}

.center-div{
  display: inline-block;
}

.container{
  text-align: center;
}
