/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/

body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*
img{
	width:100%;
}
*/
/*-- //Reset-Code --*/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-collapse.in {
    overflow-y: visible;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}
.navbar-inverse {
    background-color:transparent;
    border-color:transparent;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
}
nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: 1em 0;
    background: rgba(25, 25, 25, 0.8);
}
.navbar-inverse .navbar-brand {
    color: #fff;
	font-size:2.7em;
	text-transform:uppercase;
    font-family: 'Text Me One', sans-serif;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Text Me One', sans-serif;
}
@media (min-width: 768px) {
	.navbar-wrapper {
	margin-top: 20px;
}
	.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
	.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    border-radius: 4px;
}
}


.banner {
    background: #02cad4;
    padding-top: 50px;
}
.banner-right {
    margin: 250px auto 0;
    text-align: right;
}
.banner-right h1 {
    font-size: 25px;
    color: #000;
	margin:10px 0 0;
}
.banner-right span {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 5px 5px 0 #5d5d5d;
    font-family: 'Text Me One', sans-serif;
}
.banner-right h2 {
    color: #464646;
    font-size: 28px;
    margin: 0 0 20px;
    font-style: italic;
}
.banner-right p {
    color: #eaeaea;
    font-size: 16px;
    line-height: 28px;
}
.thim-click-to-bottom {
    position: absolute;
    bottom: 6%;
    left: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 20px 10px;
    border: 2px solid #fff;
    border-radius: 20px;
	font-size: 15px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}


/*-- About me --*/
.about-me {
	padding:0;
	margin:0 auto;
}
.about-me h3 {
	color:#A1B3A4;
	font-size:30px;
	font-family: 'Cinzel', serif;
	line-height:25px;
	font-weight:bold;
	padding: 67px 0 55px;
}
.wthree-about-grids {
    margin-top: 50px;
}
img.img-responsive {
    margin: auto;
}

/* .mydetails {
	padding:6.3em 0;
} */
.mydetails h3 {
	color:#000;
	padding: 1em 0 .5em;
	font-size:25px;
	line-height:25px;
	font-weight:bold;
    font-family: 'Text Me One', sans-serif;
}
.mydetails p {
	font-size:18px;
	line-height:25px;
	font-weight:400;
}
.mydetails .social-icons {
	padding: .5em 0 0;
	margin:0;
}
.mydetails .social-icons  a span {
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.mydetails .social-icons  span.facebook {
	background-position:0px 0px;
}
.mydetails .social-icons span.twitter {
	background-position:-40px 0px;
}
.mydetails .social-icons span.linkedin {
	background-position:-80px 0px;
}
.mydetails .social-icons span.googleplus {
	background-position:-120px 0px;
}

/*-- /About me--*/

/*-- about --*/
.about,.statistics,.experience,.feedback,.projects,.contact{
    padding: 4em 0;
}
.wthree-about-right h4 {
    text-align: center;
    font-size: 25px;
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Text Me One', sans-serif;
}
.wthree-about-right p {
    color: #464646;
    line-height: 24px;
    font-size: 15px;
}
/*-- skills --*/
.skills-bar {
    width: 70%;
    margin: 40px auto 0;
}
.skills-bar .bar_group__bar.thin::before, .skills-bar .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

.skills-bar .bar_group__bar.thin::before {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E4E4E4;
}

.skills-bar .bar_group__bar.thin {
  width: 0%;
  height: 5px;
  border-radius: 0px;
  background: red;
  margin-bottom: 10px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.skills-bar .b_label, .skills-bar .bar_label_min, .skills-bar .bar_label_max, .skills-bar .b_tooltip span {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
}
.skills-bar .bar_label_max {
    position: absolute;
    right: 0;
    margin: 1em 0 0 0;
}
.skills-bar .bar_label_min {
    position: absolute;
    left: 0;
    margin: 1em 0 0 0;
}
.skills-bar .b_tooltip {
  -webkit-transition: all 1s;
          transition: all 1s;
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color:#10A7AF;
  -webkit-transform: translateX(-50%) translateY(-30px);
  -ms-transform: translateX(-50%) translateY(-30px);
  transform: translateX(-50%) translateY(-30px);
  border-radius: 2px;
  line-height: 11px;
}
.skills-bar .b_tooltip span {
  color: white;
}
.skills-bar .b_tooltip--tri {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #10A7AF transparent transparent transparent;
}
.skills-bar .bar_group__bar:nth-of-type(1) {
    background: #4CAF50;
    z-index: 9990 !important;
}
.skills-bar .bar_group__bar:nth-of-type(2) {
  background: #4CAF50;
}
.skills-bar .bar_group__bar:nth-of-type(3) {
  background: #4CAF50;
}
.skills-bar .bar_group__bar:nth-of-type(4) {
  background: #4CAF50;
}
.skills-bar .bar_group__bar:nth-of-type(5) {
  background: #4CAF50;
}
.bar_group {
  position: relative;
}
/*-- //skills --*/
/*-- //about --*/

/*-- services --*/
.service-head h3,h3.w3_inner_tittle,.about-head h3,.portfolio-head h3,.experience-head h3,.contact-head h3,.education-head h3,.coding-head h3{
	color: #1b242f;
    font-size: 2.5em;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
}
.service-head h3 span{
	font-weight:700;
 font-family: 'Asap', sans-serif;
}
.wthree_about_left,.wthree_about_right{
	padding:0;
}
.wthree_about_right{
	background:#f5f5f5;
	padding:3.27em 8em;
}
.wthree_about_right h3{
	text-align:left;
}
.wthree_about_right h3 span:before,.wthree_about_right h3 span:after{
	content: '';
    position: absolute;
    bottom: 0%;
}
.wthree_about_right h3 span:before{
	left:0%;
    width:30%;
	height: 1px;
	background: #212121;
}
.wthree_about_right h3 span:after{
	right:85.5%;
    width: 2%;
    background: #EE692D;
    height: 4px;
}
.wthree_about_right p{
	margin:2em 0 3em;
	color:#999;
	line-height:1.8em;
}
.wthree_about_right p i{
	display:block;
	margin:1em 0 0;
}
.wthree_about_right_grid_left{
	padding: 0;
    margin-bottom: 20px;
}
.wthree_about_right_grid_left i{
	font-size: 1.7em;
	color:#02bdc6;
	top:1em;
}
.wthree_about_right_grid:hover .wthree_about_right_grid_left i{
	color:#fff;
}
.wthree_about_right_grid_right h4{
	text-transform: uppercase;
    font-size: 20px;
    color: #02bdc6;
    font-family: 'Text Me One', sans-serif;
    font-weight: 600;
}
.wthree_about_right_grid {
    text-align: center;
}
.wthree_about_right_grid_right p{
	    margin: 1em 0 0;
    color: #586371;
    color: #c5c5c5;
    line-height: 1.9em;
    font-size: 13.5px;
    letter-spacing: .3px;
}
.wthree_about_right_grid_right {
    padding-right: 0;
}
.wthree_about_right_grid:nth-child(2) {
    margin-bottom: 5em;
}
/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:#02bdc6;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 70px;
    height: 70px;
    text-align: center;
	    border-radius: 50%;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#F5F5F5;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
      border-radius: 50%;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before,.wthree_about_right_grid:hover .hvr-rectangle-in:before,.agileits_services_grid:hover .hvr-rectangle-in:before{
  -webkit-transform: scale(0);
  transform: scale(0);
}
.wthree_about_right_grids {
     margin-top: 4em;
}
#services{
    padding: 5em 0;
    background: #1e2938;
}
#about{
    padding: 5em 0;
}
.service-head.one h3, .coding-head h3,h3.w3_inner_tittle{
	color:#fff;
}
/* //services */

/* portfolio */
.portfolio{
	padding:50px 0;
}
.layer {
    background: rgba(0,0,0,0.6);
    padding: 5em 0;
}
.education {
    background: url(../images/scroller.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-attachment:fixed;
}
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.resp-tabs-list {
	text-align:center;
    list-style: none;
    margin: 3em 0 4em 0;
    padding: 0;
}
.resp-tab-item {
    padding: 10px 15px;
    text-decoration: none;
    color: #848484;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    list-style: none;
    outline: none;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
     -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: Capitalize;
}
.resp-tab-active,.resp-tab-item:hover{
	color: #10A7AF;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.thumb {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.thumb:before, .thumb:after {
    content: "";
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 6;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: none;
}
.thumb:before {
    right: 100%;
    bottom: 100%;
    border-top: 3px solid #10A7AF;
    border-left: 3px solid #10A7AF;
}
.thumb:hover:before {
    opacity: 1;
    bottom: 0;
    right: 0;
}
.thumb:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.thumb img {
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
	width:100%;
}
.thumb .team_pos {
    position: absolute;
    background:rgba(0, 0, 0, 0.41);
    width: 100%;
    bottom: -84px;
    left: 0;
    margin-top: 0px;
    padding: 6px 0;
    text-align: center;
}
.thumb:after {
    left: 100%;
    top: 100%;
    border-bottom: 3px solid #10A7AF;
    border-right: 3px solid #10A7AF;
}
.thumb:hover:after {
    opacity: 1;
}
.thumb:hover .team_pos {
    top: 0;
	z-index: 0;
}
.thumb:hover ul li {
    margin: 77px 0px 0;
}
.team ul li {
    display: inline-block;
    margin: 11px 5px 0;
    width: 14%;
}
.pic {
    overflow: hidden;
    margin: auto;
}
.fb_icon1 {
    background: url(../images/search.png) no-repeat 2px 1px #02cad4;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.modal-header {
    border: none;
}
button.close{
	outline:none;
}
.modal-dialog {
    width: 720px;
    margin: 8em auto 0;
}
.port-modal{
	background:none;
	box-shadow:none;
	border:none;
}
div#portfolioModal1,div#portfolioModal2,div#portfolioModal3,div#portfolioModal4,div#portfolioModal5,div#portfolioModal6,div#portfolioModal7,div#portfolioModal8,div#portfolioModal9,div#portfolioModal10 {
    background: rgba(0, 0, 0, 0.55);
}
/*-- portfolio --*/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
	font-size: 35px;
}
#portfolio * {
    z-index: 0;
}
@media(min-width:767px) {
    #portfolio .portfolio-item {
    margin: 0 0 30px;
    }
}

.portfolio-modal .modal-content h3 {
    margin: 0 0 44px 0px;
    font-size: 2em;
    color: #fff;
}
.portfolio-modal .modal-content img {
    margin: 0 auto;
}
.portfolio-modal .modal-content p {
	font-size: 14px;
    padding: 2em 0;
    line-height: 1.8em;
    color: #fff;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}
.portfolio-modal .close-modal:hover {
    opacity: .7;
}
.col-lg-offset-2 {
    margin-left: 0;
	margin:30px auto 0;
	float:none;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.yes_marg{
	margin-top:30px;
}
/*-- //portfolio --*/

/*-- projects --*/
.projects {
    background: url(../images/projectbg.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 533px;
    position: relative;
    padding-top: 12em;
    background: #999;
    background: #1b242f;
}
.cycle{
	text-align:center;
}
.cycle span{
	width:284px;
	height:284px;
	display:inline-block;
	background:url(../images/cycle.png) no-repeat 0px 0px;
}
.people-grid {
	position: absolute;
	left: 57.5%;
	top: 58%;
	text-align: center;
}
.people-grid {
    position: absolute;
    left: 63.5%;
    top: 59%;
    text-align: center;
}
.total-project {
	position: absolute;
	top: -43%;
	left: 44%;
	text-align: center;
}
.total-project {
    position: absolute;
    top: -43%;
    left: 38.5%;
    text-align: center;
}
.project-grid p{
	color: #FFF;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
    font-family: 'Text Me One', sans-serif;
}
.project-grid span{
	width:70px;
	height:70px;
	display:inline-block;
	background:#FFF;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	margin-top:1em;
}
.project-grid:hover span{
	background:#5dbed2;
}
.project-grid span i{
	width:40px;
	height:40px;
	display:inline-block;
	background:url(../images/project-icons.png) no-repeat 0px 0px;
}
.project-grid span i.p-icon {
    margin-top: .9em;
    margin-left: .7em;
}
.clientsgrid{
	position: absolute;
	left: 36.5%;
	top: 59%;
	text-align: center;
}
.clientsgrid {
    position: absolute;
    left: 23.5%;
    top: 60%;
    text-align: center;
}
.clientsgrid div{
	position: absolute;
	left: -100px;
	top: 52px;
}
.clientsgrid span i.p-icon{
	background-position: -43px 0px;
}
/*--*/
.people-grid div{
	position: absolute;
	left: 25px;
	top: 52px;
}
.people-grid span i.p-icon{
	background-position: -87px 0px;
}
.project-grids{
	position: relative;
}
.catch-on{
	padding:2.5em 0;
}
.catch-on p{
	color:#595959;
	font-size:1.5em;
	text-transform:uppercase;
	margin:0;
	padding:0;
	font-weight:400;
}
.catch-on p  a.catch{
	background:#5dbed2;
	padding:0.7em 1.2em;
	display:inline-block;
	color:#FFF;
	font-size:0.875em;
	border-radius:0.4em;
	-webkit-border-radius:0.4em;
	-moz-border-radius:0.4em;
	-o-border-radius:0.4em;
	text-decoration:none;
	margin-left:1em;
	-webkit-appearance: none;
}
.catch-on p  a.catch:hover{
	background:#595959;
}

/*-- experience --*/
.experience-grids {
    width: 100%;
    margin: 0 auto;
}
.experience-left {
    width: 25%;
	float:left;
    background: #02bdc6;
    text-align: center;
    padding: 2em 0;
    border: 2px solid #02bdc6;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
} 
.experience-right {
    float: right;
    width: 75%;
    border: 1px solid #02bdc6;
    padding: 2em 4em;
}
.experience-left h3 {
    font-size: 1.5em;
    color: #fff;
    font-family: 'Text Me One', sans-serif;
}
.experience-right p {
    color: #464646;
    line-height: 30px;
    font-size: 14px;
}
.experience-left h5 {
    font-size: 1.5em;
    color: #fff;
    margin-top: 1em;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
}
.experience-right h4 {
    font-size: 1.6em;
    color: #1dadd3;
    margin-bottom: 0.5em;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
}
.experience-grids:hover .experience-left {
    background: #000;
    border:2px solid #000;
} 
.experience-left h3 span {
    font-size: .5em;
    font-weight: 300;
    vertical-align: middle;
    margin-left: 5px;
}
/*-- //experience --*/


/*-- contact --*/
.agileits_agile_about_mail input[type="text"], .agileits_agile_about_mail input[type="email"], .agileits_agile_about_mail textarea {
    outline: none;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    padding: 10px;
    font-size: 16px;
    color: #000;
    width: 46%;
    margin-right: 22px;
    float: left;
    font-family: 'Text Me One', sans-serif;
}
.agileits_agile_about_mail_left {
    padding: 0;
}
.agile_about_pos {
    position: absolute;
    top: -110%;
    left: 42%;
}
.agileits_agile_about_mail textarea {
    min-height: 200px;
    width: 98% !important;
    margin-bottom: 20px;
}
.agileits_agile_about_mail input[type="submit"] {
    outline: none;
    background: #02bdc6;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 1.1em;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.submit {
    text-align: center;
}
.agileits_agile_about_mail input[type="submit"]:hover{
	background: #000;
}
.agileits_agile_about_mail input[type="email"],.agileits_agile_about_mail input[type="text"]:nth-child(1){
	margin-bottom:1em;
}
.w3agile_map{
	position:relative;
	text-align: center;
}
.agileinfo_map_color{
    background:rgba(34, 34, 34, 0.67);
}
.w3agile_map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
}
.agileits_agile_about_mail {
    margin: 30px 0;
}
.agileinfo_map_color_grid_left h4{
	font-weight:600;
	color:#fff;
	font-size:1.2em;
	padding-bottom:.5em;
	position:relative;
	margin-bottom:1em;
    font-family: 'Text Me One', sans-serif;
}
.agileinfo_map_color_grid_left h4 span{
	padding-right:1em;
	color:#02bdc6;
}
.agileinfo_map_color_grid_left h4:after{
	content: '';
    background: #fff;
    height: 2px;
    width: 23%;
    position: absolute;
    bottom: 0%;
    left: 19%;
}
.agileinfo_map_color_grid_left p{
	color:#fff;
	line-height:2em;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Text Me One', sans-serif;
}
.agileinfo_map_color_grid {
    padding: 3em;
    text-align: center;
}
.agileinfo_map_color_grid_left p a{
	color:#fff;
	text-decoration:none;
}
.agileinfo_map_color_grid_left p a:hover{
	color:#23D6E7;
}
/* //contact */

.projects-right1 {
	padding:0;
}
.project-grids1 {
    position: relative;
    width: 50%;
    float: left;
    background: #1e2938;
    padding: 12.5em 0 4.5em;
}
.people-grid1 {
    position: absolute;
    left: 60.5%;
    top: 63%;
    text-align: center;
}
.clientsgrid1 {
    position: absolute;
    left: 29.5%;
    top: 63.5%;
    text-align: center;
}
.total-project1 {
    position: absolute;
    top: 10%;
    left: 44%;
    text-align: center;
}
.people-grid1 div {
    position: absolute;
    left: 25px;
    top: 52px;
}
.clientsgrid1 div {
    position: absolute;
    left: -100px;
    top: 52px;
}













/*-- about--*/
.abt-gd-left {
    padding-top: 50px;
}
/*--pie-chart---*/
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}
h3.tittle:after, h3.tittle:before {
    border: 4px double #c2c2c2;
    width: 120px;
    display: inline-block;
    content: "";
    margin: 9px 10px;
}

.pie-value {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 27%;
    left: 0;
    right: 0;
    color: #fff;
    font-family: 'Text Me One', sans-serif;
}
.abt-gd-left h4,.skills-grid p {
    margin-top: 20px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Text Me One', sans-serif;
    font-weight: bold;
}

.abt-left h3, h3.exp {
    font-size: 30px;
    color: #000;
    margin: 25px 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Text Me One', sans-serif;
}
.w3-agileits-info {
    margin-top: 4em;
}
span.circles-number {
    font-size: 45px;
    font-weight: 700;
    line-height: 3.5em;
    font-family: 'Text Me One', sans-serif;
}
/*-- //about--*/
/*-- Accordion --*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	background:#f7f7f7;
    border: 1px solid #CACACA;
}
/*----- Section Titles -----*/
.accordion-section-title {
    width: 100%;
    display: inline-block;
    border-bottom:1px solid #CACACA;
    background: #fff;
    transition: all linear 0.15s;
    font-size: 20px;
    color: #23527c;
    text-indent: 2em;
	text-decoration:none;
    padding: 31px 0;
	text-transform:uppercase;
    font-family: 'Text Me One', sans-serif;
    font-weight: 600;
}

.accordion-section-title.active, .accordion-section-title:hover,.accordion-section-title.focus {
    color: #23527c;
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
border-bottom: none;
}
.accordion-section-content.open{
    border-top: 1px solid #cacaca;	
}
.accordion-section-content {
    padding: 15px 15px;
    display: none;
    border: none;
    border-bottom: 1px solid #cacaca;
    background: #fff;
    text-decoration: none;
    text-indent: 2em;
}
.accordion p {
    color: #464646;
    font-size: 14px;
    line-height: 1.8em;
}
.accordion i {
    float: right;
    margin:4px 20px 0 0;
    color: #000;
    font-size: 13px;
}
a.accordion-section-title span {
    font-size: 14px;
    margin: 0 9px 14px 0;
    color: #929292;
}
.accordion-section h6 {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Text Me One', sans-serif;
    color: #000;
    font-weight: 600;
}
.accordion-section ul li {
    list-style-type: none;
    line-height: 2em;
    font-size: 14px;
    color: #464646;
}
.accordion-section ul li a{
    color: #464646;
	text-decoration:none;	
    font-size: 15px;
}
.accordion-section ul li span {
    margin-right: 14px;
    color: #10A7AF;
    font-weight: 100;
}
/*-- Section Content --*/
/*-- stats --*/
.stats {
    background: url(../images/1.jpg)no-repeat center fixed;
    background-size: cover; 
    padding: 0;
}  
.stats-info {
	text-align: center;
	background: rgba(0, 0, 0, 0.62);
}  
.stats-grid {
    margin: 8em 0;
}
.stats i.fa {
    font-size: 3em;
    color: #fff;
}
.numscroller {
    font-size: 3em;
    font-weight: 200;
    color: #02cad4;
    margin-bottom: 0;
    line-height: 1em;
    font-family: 'Text Me One', sans-serif;
}
.stats-info p {
    color: #fff;
    letter-spacing: 3px;
    margin: 0.5em 0;
    font-size: 18px;
    font-family: 'Text Me One', sans-serif;
}
/*-- //stats --*/
/* copyright */
p.copy-right {
    color: #999;
    background: #191919;
    text-align: center;
    font-size: 13px;
    padding: 20px 0;
    letter-spacing: 2px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Text Me One', sans-serif;
}
.copyright p a {
    color: #999;
}
.copyright p a:hover {
    color: #fff;
}
.copyright {
    background: #1f1f1f;
}
.copyright h3 {
    text-align: center;
    color: #999;
    font-size: 30px;
    padding: 30px 0 40px;
    font-weight: normal;
}
.connect-social ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: 300px;
    color: #999;
    border: 1px solid #999;
    line-height: 2.4em;
    border-radius: 50%;
    text-align: center;
}
.connect-social li {
    display: inline-block;
}
.connect-social ul li a:hover {
    color: #fff;
    border-color: #fff;
    -webkit-transform: rotatez(360deg);
    -moz-transform: rotatez(360deg);
    -o-transform: rotatez(360deg);
    -ms-transform: rotatez(360deg);
    transform: rotatez(360deg);
}
/* //copyright */




.about-grid i.fa {
    font-size: 80px;
    line-height: 40px;
    width: 80px;
    height: 80px;
    border-bottom: 2px solid #717171;
}
i.fa.fa-th {
    font-size: 55px;
    color: #03A9F4;
}
i.fa.fa-file-text {
    font-size: 60px;
    color: #4CAF50;
}
i.fa.fa-user {
    font-size: 65px;
    color: #EC407A;
}
i.fa.fa-laptop {
    color: #F44336;
}
i.fa.fa-mobile {
    color: lightseagreen;
}
.about-grid h4 {
    margin-top: 20px;
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.about-grid {
    width: 20%;
    float: left;
}
.about-grid img {
    width: auto;
    padding: 15px;
}
.about-grids-top {
    margin: 50px 0 70px;
}

.about-grids-bottom {
    margin-bottom: 35px;
	
}
.about-bottom-grid p {
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    color: #4c4c4c;
}
.about-bottom-grid h4 {
    text-align: left;
    line-height: 36px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    font-style: italic;
    margin-top: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.about-head a { 
    background: #02bdc6;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
}





/*-- header --*/ 
h1 a.navbar-brand {
    font-size: 35px;
    color: #fff !important;
    padding: 0;
    height: inherit;
    margin: 10px 0;
    font-family: 'Cinzel', serif;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
nav.navbar.navbar-default.navbar-fixed-top {
    background:rgba(0, 0, 0, 0.35);
    /*background: transparent;*/
    border: none;
    padding: 1em 0;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    color: #000;
    font-weight: bold;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: 'Text Me One', sans-serif;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #01bcfa;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #008b92;
    background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: .5em 0;
    background: rgba(25, 25, 25, 0.8);
} 
.navbar-nav > li > a {
    padding: 10px;
}
/*-- //header --*/ 
.experience-head.text-center {
    margin-bottom: 50px;
}
canvas {
    width: 140px;
}

/* modal */
h4.modal-title {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: 600;
    font-family: 'Text Me One', sans-serif;
}
ul.address {
    margin-top: 1.5em;
    border-top: 1px dotted #018fa0;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 20%;
}
ul.address li ul.agileits-address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #000;
    margin-top: 1em;
    font-weight: 600;
    font-family: 'Text Me One', sans-serif;
}
.wthree h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #000;
    text-align: center;
    font-family: 'Text Me One', sans-serif;
}
.wthree span{
    font-family: 'Text Me One', sans-serif;
	font-weight:bold;
    font-size: 32px;
    color: #00c4ce;
}
.modal .about {
    border-top: 1px solid;
}
.social-icons i.fa {
    font-size: 17px;
    padding: 9px;
    background: #5a5a5a;
    color: #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 15px 5px;
    text-align: center;
    line-height: 20px;
}
.modal a{
    color: #000;
    letter-spacing: 2px;
}
.modalpad {
    padding: 2em 0;
}
.modal a:hover {
    color: #018fa0;
}
.modal i.fa.fa-facebook {
    background: #3b5998;
}
.modal i.fa.fa-linkedin {
    background: #00a0dc;
}
.modal i.fa.fa-google-plus {
    background: #dd4b39;
}
.modal i.fa.fa-twitter {
    background: #1da1f2;
}
b, strong {
    font-weight: bold;
    color: #00c4ce;
}
.wthree h3 {
    text-align: center;
}
/* //modal */
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/ 






/* portfolio modal */

.portfolio-modal .modal-content h3 {
    margin: 0 0 44px 0px;
    font-size: 2em;
    color: #fff;
    font-family: 'Text Me One', sans-serif;
}
.portfolio-modal .modal-content img {
    margin: 0 auto;
    width: auto;
}
.col-lg-offset-2 {
    margin-left: 0;
    margin: 30px auto 0;
    float: none;
}
.portfolio-modal .modal-content p {
    font-size: 14px;
    padding: 2em 0;
    line-height: 1.8em;
    color: #fff;
}
.port-modal {
    background: none;
    box-shadow: none;
    border: none;
}

/* //portfolio modal */
/*-- /cir_agile_info--*/
.progress-bar.position {
    float: left;
    width: 25%;
    background: none;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif!important;
	margin-top: 2em;
}
.cir_agile_info {
    background: url(../images/scroller.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	background-attachment:fixed;
   padding: 3em 5em;

}
span.circles-text {
    font-size: 45px!important;
    font-family: 'Text Me One', sans-serif;
}
/*-- //cir_agile_info--*/
/*-- //cir_agile_info--*/
/*-- //cir_agile_info--*/

/* Responsive Design */
@media screen and (max-width: 1920px) {
	.stats-grid {
		margin: 10.47em 0;
	}
	.thim-click-to-bottom {
		bottom: 35%;
	}
}
@media screen and (max-width: 1680px) {
	.stats-grid {
		margin: 8.6em 0;
	}
	.thim-click-to-bottom {
		bottom: 26%;
	}
}

@media screen and (max-width: 1600px) {
	.stats-grid {
		margin: 7.95em 0;
	}
	.thim-click-to-bottom {
		bottom: 6%;
	}
}
@media screen and (max-width: 1440px) {
	.stats-grid {
		margin: 6.7em 0;
	}
}

@media screen and (max-width: 1366px) {
	.stats-grid {
		margin: 6.15em 0;
	}
}
@media screen and (max-width: 1280px) {
	.stats-grid {
		margin: 5.47em 0;
	}
}
@media screen and (max-width: 1080px) {
	.thim-click-to-bottom {
		bottom: 5%;
	}
	.banner-right {
		margin: 200px auto 0;
		text-align: right;
	}
	.about-grid i.fa {
		font-size: 70px;
		width: 70px;
		height: 70px;
	}
	i.fa.fa-user {
		font-size: 57px;
	}
	i.fa.fa-th {
		font-size: 50px;
	}
	i.fa.fa-file-text {
		font-size: 50px;
	}
	.about-grid h4 {
		font-size: 14px;
	}
	.stats-grid {
		margin: 3.94em 0;
	}
	.w3-agileits-info {
		margin-top: 2em;
	}
	.experience-head.text-center {
		margin-bottom: 20px;
	}
	.experience-right {
		padding: 2em 3em;
	}
	.layer {
		background: rgba(0,0,0,0.6);
		padding: 3em 0;
	}
	.agileits_agile_about_mail input[type="text"], .agileits_agile_about_mail input[type="email"], .agileits_agile_about_mail textarea {
		margin-right: 18px;
	}
}
@media screen and (max-width: 1024px) {
	.navbar-inverse .navbar-nav>li>a {
		font-size: 1.4em;
	}
	.thim-click-to-bottom i {
		padding: 16px 6px;
	}
	.about-grid i.fa {
		font-size: 60px;
		width: 65px;
		height: 65px;
	}
	i.fa.fa-user {
		font-size: 50px;
	}	
	i.fa.fa-th ,i.fa.fa-file-text{
		font-size: 45px;
	}
	.stats-grid {
		margin: 3.45em 0;
	}
	.accordion-section-title {
		font-size: 17px;
		padding: 27px 0;
	}
	.fb_icon1 {
		position: absolute;
		left: 39%;
		top: 28%;
	}

}
@media screen and (max-width: 991px) {
	.banner-left {
		width: 45%;
		float: left;
	}
	.banner-right {
		margin: 150px auto 0;
		text-align: right;
		width: 55%;
		float: left;
	}
	.banner-right h2 {
		font-size: 24px;
		margin: 0 0 17px;
	}
	.banner-right span {
		font-size: 55px;
	}
	.thim-click-to-bottom {
		bottom: 44%;
		left: 45%;
	}
	.navbar-brand {
		padding: 15px 0px;
		font-size: 18px;
	}
	.about-bottom-grid {
		width: 33.33%;
		float: left;
	}
	.about-grids-top {
		margin: 50px 0 40px;
	}
	.about-bottom-grid h4{
		letter-spacing:2px;
	}
	.wthree_about_right_grid {
		width: 33.33%;
		float: left;
	}
	.team-gd {
		width: 25%;
		float: left;
	}
	.resp-tabs-list {
		margin: 3em 0 2em 0;
	}
	.agileinfo_map_color_grid_left {
		width: 33.33%;
		float: left;
	}
	.service-head h3, .about-head h3, .portfolio-head h3, .experience-head h3, .contact-head h3, .education-head h3, .coding-head h3, h3.w3_inner_tittle {
		font-size: 2.2em;
	}
	.experience-right {
		padding: 2em 2em;
	}
}
@media screen and (max-width: 800px) {
	.about-grid i.fa ,i.fa.fa-user{
		font-size: 40px;
		width: 55px;
		height: 55px;
	}
	i.fa.fa-th, i.fa.fa-file-text {
		font-size: 35px;
	}
	.agileits_agile_about_mail input[type="text"], .agileits_agile_about_mail input[type="email"], .agileits_agile_about_mail textarea {
		margin-right: 14px;
		width: 48%;
	}
	.navbar-brand {
		padding: 10px 0px;
	}
}
@media screen and (max-width: 768px) {
	.fb_icon1 {
		position: absolute;
		left: 36%;
		top: 24%;
		background-size: 37px;
		width: 40px;
		height: 40px;
	}
}
@media screen and (max-width: 736px) {
	.navbar-inverse .navbar-toggle {
		border-color: #fff;
	}
	ul.nav.navbar-nav.navbar-right.cl-effect-15 {
		text-align: center;
		background: rgba(0, 0, 0, 0.59);
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: 1em 2em;
	}
	nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
		padding: .5em 2em;
	}
	.stats-grid {
		width: 33.33%;
		float: left;
	}
	.abt-gd-left.text-center {
		width: 25%;
		float: left;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
		text-align: center;
	}
	#services {
		padding: 2em 0;
	}
	#about {
		padding: 2em 0;
	}
	.thim-click-to-bottom {
		bottom: -48%;
	}
	.modal-dialog {
		width: 660px;
		margin: 5em auto 0;
	}
	.social-icons i.fa {
		padding: 9px;
		margin: 15px 2px;
	}
	ul.address li ul.agileits-address-text li:nth-child(1) {
		width: 15%;
	}
}
@media screen and (max-width: 667px) {
	.banner-right {
		margin: 80px auto 0;
	}
	.banner-right span {
		font-size: 50px;
	}
	.banner-right h2 {
		font-size: 21px;
		margin: 0 0 15px;
	}
	.banner-right p {
		font-size: 14px;
	}
	.thim-click-to-bottom {
		bottom: -46%;
	}
	.service-head h3, .about-head h3, .portfolio-head h3, .experience-head h3, .contact-head h3, .education-head h3, .coding-head h3, h3.w3_inner_tittle {
		font-size: 2em;
	}
	.experience-right {
		padding: 1em;
	}
	.agileits_agile_about_mail input[type="text"], .agileits_agile_about_mail input[type="email"], .agileits_agile_about_mail textarea {
		margin-right: 12px;
		width: 48%;
	}
	.agileinfo_map_color_grid_left p {
		letter-spacing: 0px;
	}
	.agileinfo_map_color_grid_left p a {
		font-size: 16px;
	}
	.wthree_about_right_grids {
		margin-top: 2em;
	}
	.about-bottom-grid h4 {
		letter-spacing: 0px;
		font-size: 14px;
	}
	.modal-dialog {
		width: 600px;
	}
	.social-icons i.fa {
		padding: 8px;
		margin: 15px 0px;
	}
	.wthree_about_right_grid:nth-child(2) {
		margin-bottom: 3em;
	}
	.resp-tabs-list {
		margin: 2em 0 1em 0;
	}
	.team-gd {
		width: 50%;
		float: left;
	}
	.team-gd:nth-child(1), .team-gd:nth-child(2) {
		margin-bottom: 30px;
	}
	.fb_icon1 {
		background: url(../images/search.png) no-repeat 2px 1px #02cad4;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		position: static;
	}
}
@media screen and (max-width: 600px) {
	.thim-click-to-bottom {
		bottom: -24%;
	}
	.banner-right h2 {
		font-size: 19px;
	}
	.about-bottom-grid {
		width: 100%;
		float: none;
	}
	.about-bottom-grid h4 {
		text-align: left;
		line-height: 28px;
		margin-bottom: 15px;
	}
	.wthree_about_right_grid {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.resp-tabs-list {
		margin: 2em 0 1em 0;
	}
	.team-gd {
		width: 50%;
		float: left;
	}
	.abt-left h3, h3.exp {
		font-size: 27px;
		margin: 20px 0;
	}
	.experience-right h4 {
		font-size: 1.4em;
		margin-bottom: 0.5em;
	}
	.abt-gd-left.text-center {
		width: 50%;
		float: left;
	}
	.agileits_agile_about_mail input[type="text"], .agileits_agile_about_mail input[type="email"], .agileits_agile_about_mail textarea {
		margin-right: 10px;
		width: 48%;
	}
	.wthree_about_right_grid:nth-child(2) {
		margin-bottom: 20px;
	}
	.team-gd:nth-child(1), .team-gd:nth-child(2) {
		margin-bottom: 30px;
	}
	.agileinfo_map_color_grid_left {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.agileinfo_map_color_grid_left h4:after {
		width: 10%;
		left: 35%;
	}
	.portfolio {
		padding: 30px 0;
	}
	.modal-dialog {
		width: 530px;
	}
	.social-icons i.fa {
		font-size: 14px;
		width: 30px;
		height: 30px;
		margin: 15px 5px;
		line-height: 17px;
	}
	.abt-gd-left.text-center {
		width: 50%;
		float: left;
		padding-top: 10px;
	}
	.col-md-12.abt-right {
		margin-top: 30px;
	}
	.abt-gd-left h4 {
		margin-top: 5px;
		margin-bottom: 30px;
	}
	.about, .statistics, .experience, .feedback, .projects, .contact {
		padding: 3em 0;
	}
	.modalpad {
		padding: 2em 0;
	}
}
@media screen and (max-width: 568px) {
	.thim-click-to-bottom {
		bottom: -70%;
	}
	.banner-right span {
		font-size: 45px;
	}
	.banner-right h2 {
		font-size: 18px;
	}
	.experience-right,.experience-left {
		width: 100%;
	}
	.resp-tab-item {
		padding: 10px 10px;
	}
	.about-left {
		width: 100%;
	}
	.modal .about {
		border-top: 1px solid;
		margin: 0 auto;
		width: 95%;
	}
	.about-right.wthree {
		width: 100%;
		padding: 0;
	}
	ul.address li ul.agileits-address-text li:nth-child(1) {
		width: 25%;
	}
	.social-icons {
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
	.banner-left {
		width: 100%;
		float: none;
	}
	.banner-right {
		margin: 20px auto;
		width: 100%;
		float: left;
		text-align: center;
	}
	.thim-click-to-bottom {
		bottom: -29%;
	}
	.stats-info p {
		letter-spacing: 1px;
	}
	.numscroller {
		font-size: 2.5em;
	}
	.accordion-section-title {
		font-size: 17px;
		padding: 17px 0 17px 15px;
		line-height: 30px;
	}
	.agileits_agile_about_mail input[type="text"], .agileits_agile_about_mail input[type="email"], .agileits_agile_about_mail textarea {
		margin-right: 10px;
		width: 98%;
		margin-bottom: 15px;
	}
	.agileits_agile_about_mail textarea {
		min-height: 150px;
	}
	.thim-click-to-bottom {
		bottom: -40%;
	}
	.about-bottom-grid h4 {
		font-size: 14px;
	}
	.team-gd {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.accordion i {
		margin: 4px 15px 0 0;
	}
	.about-grid {
		width: 31.33%;
		float: left;
		margin-bottom: 30px;
	}
	.about-grids-top {
		margin: 30px 0 0px;
	}
}

@media screen and (max-width: 414px) {
	.about-bottom-grid p {
		margin-bottom: 15px;
	}
	.about, .statistics, .experience, .feedback, .projects, .contact {
		padding: 2em 0;
	}
	.modal-dialog {
		width: 345px;
	}
	ul.address li ul.agileits-address-text li {
		margin-top: .5em;
	}
	.fb_icon1 {
		position: absolute;
		left: 42%;
		top: 35%;
	}
}
@media screen and (max-width: 384px) {
	.thim-click-to-bottom {
		bottom: -53%;
	}
	.stats-grid {
		width: 100%;
		float: none;
		margin: 0 0 2em;
		padding-top: 2em;
	}
	.service-head h3, .about-head h3, .portfolio-head h3, .experience-head h3, .contact-head h3, .education-head h3, .coding-head h3, h3.w3_inner_tittle {
		font-size: 1.8em;
	}
	
	.portfolio-modal .close-modal .lr .rl {
		height: 50px;
	}
	.portfolio-modal .close-modal .lr {
		height: 50px;
	}
	.portfolio-modal .close-modal {
		right: 5px;
	}
}
@media screen and (max-width: 320px) {
	.navbar-inverse .navbar-brand {
		color: #fff;
		font-size: 2.4em;
	}
	.navbar-toggle {
		margin-top: 0px;
		 margin-right: 0px;
	}
	.banner-right h2 {
		font-size: 17px;
	}
	.thim-click-to-bottom {
		bottom: -66%;
	}
	.about-bottom-grid h4 {
		letter-spacing: 1px;
	}
	.resp-tab-item {
		padding: 5px;
	}
	.abt-gd-left h4 {
		margin-bottom: 10px;
	}
	.abt-gd-left.text-center {
		width: 100%;
		float: none;
		padding: 10px;
	}
	.col-md-12.abt-right {
		margin-top: 30px;
	}
	.copyright h3 {
		font-size: 24px;
		padding: 25px 0;
	}
	p.copy-right {
		padding: 20px;
		letter-spacing: 1px;
	}
	.agileits_agile_about_mail input[type="submit"] {
		padding: 6px 25px;
	}
	.modal-dialog {
		width: 280px;
	}
	.wthree span {
		font-size: 28px;
	}
	.wthree h4 {
		font-size: 17px;
	}
	.fb_icon1 {
		position: absolute;
		left: 40%;
		top: 32%;
	}
}